/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove list styles */
ul,
ol {
    list-style: none;
}

/* Remove anchor text decoration */
a {
    text-decoration: none;
}

/* Remove table border spacing */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: norse-bold;
    
    src: url(./font/Norse-Bold.otf)
  }

.container{
    display: flex;
    height: 100%;
}
  
 
.left h1{
    font-family: norse-bold, sans-serif;
    color: white;
  }

.left img{
    width: 50px;
}

.left, .right{
    height: 100vh;
}


.left{
    flex: 1;
    background: url("./assets/bg.jpg") no-repeat center;
    background-size: cover;
}

.right{
    flex: 2;
    padding: 30px;
    background-color: #ccc;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 6rem;
    padding: 15px;
}