/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove list styles */
ul,
ol {
    list-style: none;
}

/* Remove anchor text decoration */
a {
    text-decoration: none;
}

/* Remove table border spacing */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: norse-bold;
    
    src: url(./font/Norse-Bold.otf)
  }
  
 
  body{
    font-family: norse-bold, sans-serif;
  }